apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-deploy
  namespace: jenkins
  labels:
    app: java-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-app
  template:
    metadata:
      labels:
        app: java-app
    spec:
      containers:
      - name: happyapp
        image: channamma/happyapp:replaceImageTag  # Placeholder for Jenkins update
        ports:
        - containerPort: 8080
