apiVersion: v1
kind: Service
metadata:
  name: java-app-service
  namespace: jenkins
spec:
  selector:
    app: java-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: NodePort
