apiVersion: v1
kind: Service
metadata:
  name: java-service
  namespace: java-app
spec:
  type: NodePort
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  selector:
    app: java
